<h2>Employee List</h2>
<div>
<table class="table table-striped" id="example">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Id</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
  <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 5,
   currentPage: page,
    totalItems:totalLength
    }">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.emailId}}</td>
    <td >
      <button (click)="updateEmployee(employee.id)" class="btn btn-info " >Update</button>
      <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="color: brown" st>Delete</button>
      <button (click)="viewEmployee(employee.id)" class="btn btn-dark" style="color: chartreuse" >View</button>
    </td>
  </tr>

  </table>
  <pagination-controls (pageChange)="page = $event" class="text-center my-pagination" ></pagination-controls>
</div>
